[Unit]
Description=Garden Container %I

[Service]
ExecStart=/usr/bin/systemd-nspawn --machine=%I --quiet --keep-unit --bind /var/lib/garden/container-%I/run:/tmp/garden-init -- /sbin/wshd --run /tmp/garden-init
Type=notify
KillMode=mixed
TimeoutStopSec=10
SuccessExitStatus=0 1
Delegate=yes
