[Unit]
Description=Garden Container %I

[Service]
ExecStart=/bin/sh /var/lib/garden/container-%I/start
Type=notify
KillMode=mixed
TimeoutStopSec=10
SuccessExitStatus=0 1
Delegate=yes
