[Unit]
Description=Garden Systemd Backend

[Service]
ExecStart=/usr/bin/garden-systemd --skeleton /var/lib/garden-systemd/skeleton

[Install]
WantedBy=multi-user.target
